.footer-container {
  max-width: 1440px;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 40% 15% 15% 30%;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .footer-grid-col-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer-grid-col-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

.col-one-text-box {
  max-width: 284px;
}

.footer-icons-box {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .footer-grid-col-two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer-grid-col-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .footer-grid-col-three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer-grid-col-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .footer-grid-col-four {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .footer-grid-col-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

.col-four-text-box {
  max-width: 338px;
}

.input-email-box {
  display: flex;
  gap: 20px;
}

.input-email {
  height: 50px;
  padding: 10px;
}

.btn-footer {
  height: 50px;
}

.footer-copyright-box {
  max-width: 1440px;
  padding: 10px;
}

.copyright-text {
  text-align: center;
}
