.container {
  margin: 0 auto;
}

.btn-green {
  font-size: 16px;
  color: #fff;
  background-color: #06c167;
  padding: 20px;
}

@media (max-width: 768px) {
  .btn-green {
    width: 100%;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-150 {
  margin-bottom: 150px;
}

.btn-like {
  background-color: transparent;
  border: none;
}

.btn-light {
  color: #06c167;
  background-color: #f3fcf7;
  padding: 10px;
}
