.section-hero {
  max-width: 1440px;
  background-color: #f3fcf7;
}

.hero-row-one {
  background-color: #f3fcf7;
  display: flex;
  padding: 80px;
  position: relative;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .hero-row-one {
    justify-content: space-around;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .hero-row-one {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

.hero-text-box {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .hero-text-box {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .hero-text-box {
    width: 100%;
    align-items: center;
  }
}

.hero-image-box {
  width: 458px;
  max-height: 634px;
  position: absolute;
  right: 100px;
  top: 40px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .hero-image-box {
    position: static;
    height: 500px;
    width: 350px;
  }
}

@media (max-width: 768px) {
  .hero-image-box {
    position: static;
    width: 320px;
  }
}

.hero-opinion-box {
  width: 230px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-radius: 30px;
  position: absolute;
  right: 0;
  top: 190px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .hero-opinion-box {
    right: 250px;
    top: 440px;
  }
}

@media (max-width: 768px) {
  .hero-opinion-box {
    right: 20px;
    top: 540px;
  }
}

.hero-opinion-image-box {
  width: 40px;
  height: 40px;
}

.hero-rating-box {
  width: 230px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 30px;
  position: absolute;
  right: 400px;
  top: 270px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .hero-rating-box {
    right: 250px;
    top: 390px;
  }
}

@media (max-width: 768px) {
  .hero-rating-box {
    top: 600px;
    left: 20px;
  }
}

.hero-rating-stars-box {
  display: flex;
  gap: 5px;
}

.hero-rating-picture-box {
  width: 20px;
  height: 20px;
}

.hero-row-two {
  width: 100%;
  min-height: 130px;
  padding: 60px 100px;
  background-color: #fff;
}

.hero-company-box {
  max-width: 570px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.company-picture-box-one {
  width: 155px;
  height: 36px;
}

.company-picture-box-two {
  width: 158px;
  height: 36px;
}

.company-picture-box-three {
  width: 149px;
  height: 34px;
}
