.section-stars {
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .section-stars {
    flex-direction: column-reverse;
    align-items: center;
    gap: 120px;
  }
}

@media (max-width: 768px) {
  .section-stars {
    flex-direction: column-reverse;
    align-items: center;
    gap: 120px;
  }
}

.stars-picture-box {
  width: 445px;
  height: 513px;
  position: relative;
}

.stars-picture-box::after {
  content: "";
  width: 505px;
  height: 513px;
  background-color: #f3fafb;
  position: absolute;
  top: 40px;
  left: -30px;
  z-index: -1;
}

.stars-text-box {
  max-width: 537px;
  padding: 20px;
}

.stars-box {
  display: flex;
  justify-content: space-between;
}

.star-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .mobile-text {
    text-align: center;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .mobile-text {
    text-align: center;
  }
}

.button-stars {
  width: 233px;
}
